@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-main: #0F172A;        /* Fondo general app */
  --bg-sidebar: #0B0F19;     /* Sidebar */
  --bg-card: #1E293B;        /* Cards */
  --bg-hover: #1F2937;       /* Hover sutil */
  --bg-white: #F3F4F6;
  

  /* Text */
  --text-primary: #F3F4F6;   /* Texto principal */
  --text-secondary: #9CA3AF; /* Texto secundario */
  --text-muted: #6B7280;     /* Texto desactivado */

  /* Accent */
  --accent-primary: #22C55E; /* Verde finanzas */
  --accent-hover: #16A34A;   /* Verde más fuerte */

  /* Borders */
  --border-color: #1F2937;

  /* Danger / Expense */
  --danger: #EF4444;

  /* Income */
  --income: #22C55E;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.sidebar-hover {
  background: var(--bg-white);
}