@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-main: #0F172A;        /* Fondo general app */
  --bg-sidebar: #0B0F19;     /* Sidebar */
  --bg-card: #ffffff;        /* Cards */
  --bg-hover: #1F2937;       /* Hover sutil */
  --bg-white: #ffffff;
  --bg-beige: #fdf5e6;
  

  /* Text */
  --text-primary: #F3F4F6;   /* Texto principal */
  --text-secondary: #9CA3AF; /* Texto secundario */
  --text-muted: #6B7280;     /* Texto desactivado */

  /* Accent */
  --accent-primary: #22C55E; /* Verde finanzas */
  --accent-hover: #16A34A;   /* Verde más fuerte */

  /* Borders */
  --border-color: #1F2937;

  /* Danger / Expense */
  --danger: #EF4444;

  /* Income */
  --income: #22C55E;
}


.card {
  padding: 1rem;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  box-shadow: 4px 9px 17px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 9px 17px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 9px 17px -2px rgba(0,0,0,0.75);
}

.card:hover {
  background-color: var(--bg-main);
  color: var(--bg-white);
}

.card-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  font-size: 1rem;
}

.card-price {
  font-weight: bold;
  font-size: 2rem;
}